.container {
    width: 100%;
    height: 100vh;

    background-color: rgb(240, 240, 240);

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    align-items: center;
    justify-content: center;

    text-transform: capitalize;

    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 1rem;
    padding: 1rem;
    border: 7px solid;
    animation: colorchange 3s linear 0s infinite;
    color: white;
    background-color: rgb(29, 29, 29);
}

header h1 {
    text-align: center;
    font-size: 2.3rem;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 9rem;
}

img:hover {
    opacity: 70%;
}


button {
    border: none;
    background-color: unset;

    cursor: pointer;
}

.message-box {
    width: 100%;
    height: 30vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content:space-around;
}

.message {
    width: 100%;
    text-align: center;
    align-self: center;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: rgb(4, 8, 4);
}

.restart-btn {
    width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
    color: rgb(236, 236, 236);
    background-color: rgb(32, 32, 32);
    border: 6px double;
    animation: colorchange 0.5s infinite;
}

@keyframes colorchange {
    0% {border-color: rgb(243, 110, 110);}
    33% {border-color: rgb(65, 199, 125);}
    66% {border-color: rgb(59, 59, 145);}
    100% {border-color: rgb(233, 104, 104);}
}